{% extends 'base.html' %}
{% block title %}Forgot{% endblock %}
{% load static %}
{% block body %}
{% block css %}
<style>
    form img {
        width: 52%;
        height: 136%;
        position: relative;
        left: 25%;
        top: 0px;
        border-radius: 50%;
    }
</style>
{% endblock %}
<div class="container">
    <div class="p-3 m-3">
        <div class="col-lg-5 mx-auto border rounded p-4">

            <form action="/forgot" method="POST">
                {% csrf_token %}
                <img src="{%static "logo3.jpg"%}" alt=""><br><br>

                
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <h3 class="alert alert-light mb-3 text-center"><u class="text-info">Forgott Your Password!!</u></h3>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control form-control-sm"
                        placeholder="name@example.com">
                </div>


                <div class="mb-2">
                    <button class="btn btn-outline-info btn-sm" style="position: relative; left: 10rem;"
                        type="submit">Forgot</button>
                </div>


            </form>


        </div>
    </div>
</div>



{% endblock %}